header {
    text-align: center;
}

ul {
    padding-left: 0;
}

.tasty {
    font-family: 'Cantarell', sans-serif;
}

/* hides menu div on start, then hides start page/displays menu page when button is clicked */
.hidden {
    display: none;
}

.menu-title {
    font-size: 100px;
}

.fav-combo {
    cursor: pointer;
    background-color: lightgray;
    width: fit-content;
}

.fav-combo:hover {
    cursor: pointer;
    opacity: .6;
    background-color: rgba(209, 209, 32);
}

.favorites-list {
    list-style-type: none;
}

.dinner-instructions {
    padding-left: 10px;
}

.instructions {
    padding-left: 17px;
}

.resize {
    width: 49%;
    transition: flex-basis 500ms linear;
}

/* reformats menu on smaller screens to be one column */
@media screen and (max-width: 768px) {

    .resize {
        width: 100%;
        margin-top: 18px;
    }

    .media-wrap {
        flex-wrap: wrap;
    }

    .menu-title {
        font-size: 80px;
    }

}